.article-main-container{
    height: 100vh;
    padding: 10px;

}

.article-container{
    padding: 10px;

}
.paragraph{
    text-align: justify;
    
}

.article-container img{
    height: 50%;
    width: 50%;
}

