nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(210, 207, 207,0.4);
    background-color: black;
    background:linear-gradient(270deg,#494278 0,#2c2650 99.61%);
    color:white;
    position:fixed;
    width: 96%;
    transition: 0.5s;
   
}
nav h3,p{
    margin: 0;
    padding: 0;
}
nav h3:hover, p:hover{
    cursor: pointer;
}

nav.scrolled{
    /* background: rgba(117, 117, 238, 0.964); */
    background: white;
    transition: 0.3s;
   color: black;
  
}
.right-end{
    display: flex;
    justify-content: space-around;
   gap: 20px;
    align-items: center;
   
    
}
.avatar-head{
    height: 35px;
    width: 35px;
    border-radius: 100%;
 
  
}
.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


  @media (max-width: 768px) {
nav{
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    
}
.avatar-head{
    width: 25px;
    height: 25px;
}
.right-end{
    gap: 10px   ;
}
}
