

.form-container{
    padding: 10px;
    margin: 10px;
    display: grid;
    place-items: center;
    gap: 10px;
    /* border: 1px solid; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    background-color: black;
   
   
    
}
.detail-input{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}
.detail-input label{
    padding-left: 5px;
}

.form-container input{
    padding: 10px;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    
}
.form-container button{
    margin-top: 20px;
    padding: 10px;
   border-radius: 5px;
    background-color: white;
    color: black    ;
    border-style: none;
    width: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
   

}
form button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.signup-link:hover{
    cursor: pointer;
}